* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgba(255, 248, 220, 0.514);
}

ul {
    list-style: none;
}

.div {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div1 {
    display: flex;
    padding: 8px 16px;
    align-items: center;
}

.txt {
    width: 200px;
    padding: 4px 8px;
    outline-color: #01B6AD;
}

.btn {
    padding: 6px 16px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    background: #01B6AD;
    opacity: 0.7;
    transition: all 0.2s;
}

.btn:hover {
    opacity: 1;
}

.btn1 {
    opacity: 1;
}

.div2 {
    display: none;
}

.div2>ul>li {
    padding: 0px 16px;
    margin-top: 15px;
}

.error {
    color: #fff;
    background: rgba(240, 151, 78, 0.945);
}

.success {
    color: #fff;
    background: rgba(77, 211, 77, 0.706);
}